* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #7a04eb;
    padding: 1em 10%;
}

.brand-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.brand-title a {
    color: #ff124f;
    text-decoration: none;
    transition: color 0.75s;
}

.brand-title a:hover {
    color: #defe47;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
    border-radius: 50px;
}

.navbar-links li:hover {
    background-color: #120458;
    transition: all 3s;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #ff00a0;
    padding: 1rem;
    font-weight: lighter;
    letter-spacing: 0.15em;
    transition: color 0.75s;
}

.navbar-links li a:hover {
    color: #defe47;
}

#link-1 {
    animation: 1s fadeIn;
}

#link-2 {
    animation: 2s fadeIn;
}

#link-3 {
    animation: 3s fadeIn;
}

#link-4 {
    animation: 3.5s fadeIn;
}

/* fade in animation for links */
@keyframes fadeIn {
    0% { 
        opacity: 0; 
        color: #fe75fe;
    }    
    50% { 
        color: #ffd300;
    }   
    100%   { 
        opacity: 1; 
        color: #ff00a0;
    }
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    background-color: #ff00a0;
    height: 3px;
    width: 35px;
    transition: all 0.75s;
}

.bar-1-active {
    background-color: #defe47;
    transform: rotate(-45deg) translate(-50%, 50%);
}

.bar-2-active {
    opacity: 0;
}

.bar-3-active {
    background-color: #defe47;
    transform: rotate(45deg) translate(-50%, -50%);
}

@media (max-width: 840px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links ul li a:hover {
        color: #ff0141;
        transition: color 0.6s;
        background-color: #7a04eb;
    }

    .navbar-links.active {
        display: flex;
    }
}
